body{
    background: rgba(119, 117, 117, 0.103);
    padding: 5%;
}
.div1{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
    text-align: center;
    padding: 2%;
    background: red;
    color: white;
}
#div2{
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(255, 230, 0);
    text-align: center;
    padding: 2%;
    background: rgb(255, 217, 0);
    color: white;
}
.div2{
    margin-top: 2%;
}
label{
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
}
.ipt{
    padding: 5px;
    width: 50%;
}